<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <section>
        <nav class="nav">

            <div class="logonav">
                <img src="{% static 'image\assets\logoo.png' %}"  width="300px">
              </div>
    
            <div class="nav-menu" id="navMenu">
                <ul>
                    <li><a href="/1/" class="link active">Home</a></li>
                    <li><a href="/1/" class="link">booking</a></li>
                    <li><a href="/gallery/" class="link">gallery</a></li>
                    <li><a href="/contact/" class="link">contact us</a></li>
                    <li><a href="/2/" class="link">Login</a></li>
                    <li><a href="/register/" class="link">Register</a></li>

                </ul>
            </div>
           
        </nav>
    </section>
<div class="bgpic">
    
    <div class="container">
           
        <form id="contact" action="" method="POST">
            {% csrf_token %}
           
            <h3>TRAVELTROOP Contact Form</h3>
            <h4>Contact us for any queries</h4>
            <fieldset>
                <input placeholder="Your name" type="text" tabindex="1" required autofocus name="uname">
            </fieldset>
            <fieldset>
                <input placeholder="Your Email Address" type="email" tabindex="2" required name="uemail">
            </fieldset>
            <fieldset>
                <input placeholder="Your Phone Number (optional)" type="tel" tabindex="3" required name="unumber">
            </fieldset>
            <fieldset>
                <input placeholder="Your Web Site (optional)" type="url" tabindex="4" required >
            </fieldset>
            <fieldset>
                <textarea placeholder="Type your message here...." tabindex="5" required></textarea >
            </fieldset>
            <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
            </fieldset>
        </form>
    </div>
    </div>

</div>


</body>

</html>