<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRAVELS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
	  <link rel="stylesheet" href="{%  static 'css/bootstrap.min.css' %}" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
<body>
    <section>
    
        <nav class="nav">
          <div class="logonav" id="logona">
            <img src="{% static 'image\assets\logoo.png' %}"  width="250px" >
          </div>

            
            <div class="nav-menu" id="navMenu">
                <ul>
                   
                    <li><a href="/1/" class="link active">Home</a></li>
                    <li><a href="/1/" class="link">booking</a></li>
                    <li><a href="/gallery/" class="link">gallery</a></li>
                    <li><a href="/contact/" class="link">contact us</a></li>
                    <li><a href="/2/" class="link">Login</a></li>
                    <li><a href="/register/" class="link">Register</a></li>

                </ul>
            </div>
            
        </nav>
    </section>
    <section>
      <div class=img>
        <div id="carouselExampleInterval" class="carousel slide " data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="{% static 'image\assets\4.jpg' %}" class="image"  alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image\assets\2.jpg' %}" class=" image" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image\assets\7.jpg' %}" class="image"  alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image\assets\6.jpg' %}" class="image"  alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'image\assets\1.jpg' %}" class="image"  alt="...">
              </div>
            </div>




            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>




          </div>
      </div>
      <hr>
    <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
          <h3 class="lab" >BOOKINGS</h3>
        
          <form action="{% url 'booking' %}" method="POST"> 
            {% csrf_token %}
            <select name="origin " class="drop" id="ori">
               <option value="Origin">Leaving From</option>
             
               <option value="CHENNAI">CHENNAI</option>
               <option value="COIMBATORE">COIMBATORE</option>
               <option value="MADURAI">MADURAI</option>
               <option value="TIRUCHY">TIRUCHY</option>
               <option value="DHARAPURAM">DHARAPURAM</option>
        
            </select>
            -
            <i class="fas fa-exchange-alt"></i>
            <select name="destination" class="drop" id="dest">
                <option value="Destination">Going To</option>
               
                <option value="CHENNAI">CHENNAI</option>
                <option value="COIMBATORE">COIMBATORE</option>
               
                <option value="MADURAI">MADURAI</option>
                <option value="TIRUCHY">TIRUCHY</option>
                <option value="DHARAPURAM">DHARAPURAM</option>

            </select>
            -  
            
            <input type="number" class="drop" name=" passengers" step="1" min="1" max="10" placeholder="Number Of Passengers">
            <div class="dep">
            <span class="lab" >Departure:</span>
           
            <input type="date" name="depart" class="drop" id="depart">
            
            <input type="submit" name="submit" id="busButton">
          </div>
        
          
          </form>
      </div>
    </div>
    <div class="img1">
      <img src="{% static 'image\assets\im.png' %}" alt="" class="pic">
    </div>
    

    </section>
     <section>   
    <div class="container1">
      <h1>Online Bus Booking Services</h1>
      <p>TravelTroop is India`s leading online bus ticket booking service provider. Check out budget friendly offers and save big with discount coupons to book bus tickets at the lowest price with us. You can check the bus schedules, compare prices, and find all the information you need to plan an ideal and comfortable bus or train journey.

        TravelTroop has simplified the online bus booking process for your travel planning. In case you need to cancel the ticket or change the dates, You can save both time and money by choosing IggaCash as a refund option which can be used instantly. Book now!!!
        
        Browse through all your bus route options, and use our advanced smart filters to ensure a reliable and comfortable journey, tailored to your scheduled travel plans.</p>
    </div>
    <div class="container2">
      <h1 class="txt">Online Bus Ticket Booking at Lowest Price</h1>
      <p>With TravelTroop, travellers can book bus tickets online at the lowest ticket fares. Travellers can choose their favorite bus for online bus booking. 
        Below, you will find various types of buses available to book bus tickets on IggaBus at the lowest fare for bus ticket booking:
      <div class="listitems" style="display: flex; place-content: flex-start space-between; align-items: flex-start;"><div class=" col s12 m4 l4" id="bus-type1">
        <ul><li>AC Buses</li><li>Non AC Buses</li><li>Ordinary Buses</li><li>Mini Buses</li><li>Super Luxury (Non-AC Seater)</li></ul></div>
        <div class=" col s12 m4 l4"><ul style="align-items: center;"><li>Volvo AC Buses</li><li>Sleeper AC Buses</li><li>Sleeper Buses</li><li>Deluxe Buses</li><li>Sleeper Cum Seater AC</li></ul></div>
        <div class=" col s12 m4 l4"><ul><li>Double Decker Buses</li><li>Mercedes buses</li><li>Non-Mercedes buses</li><li>Electric Buses</li><li>Express Buses</li></ul></div>
      </div>
        <p>The bus ticket fare depends on the factors such as type of bus, bus operator, bus routes distance between origin and destination cities, amenities offered by the bus operator, and bus operators may change ticket prices during festive seasons. Travelling by bus journey is the best option, cost effective and the most convenient travel option compared to other modes of transport.</p>
      
    </div>
    <div class="container3">
      <h1>Benefits of Booking Bus Tickets Online</h1>
      <p>In this day and age of technology, offline modes of bus ticket booking are no longer preferred. Online ticket booking is easy, fast, and hassle-free. TravelTroop ticks off all the three with user-friendly app and website navigation.

        Booking bus tickets online with TravelTroop has resolved many issues that people encounter while booking tickets at offline counters or through travel agents. Download the TravelTroop App to experience the benefits of bus ticket booking online.
        
        Here is a list of all the benefits of booking bus tickets online on TravelTroop</p>
    
<ul>
  <li>Avoid standing in long queues at offline bus ticket counters.</li>
  <li>No more hassle of approaching travel agents.</li>
  <li>Choose from multiple bus services.</li>
    
      <li>Check bus ticket availability online.</li>
        <li>Get bus timings, ticket price, boarding & dropping point details online.</li>
          <li>Access to payment partner discounts and cashback offers.</li>
            <li>Free Cancellation - Get 100% refund if your plan changes and you cancel your ticket.</li>
              <li>24/7 customer support.</li>
                <li>Each and every transaction is simple, safe and secure.</li>
</ul>
              </div>
        

  </section>
<section>
  <section class="faq">
    <h2>Online Bus Booking FAQ’s</h2>

    <ul class="faq-content">
        <li>
            <input type="radio" name="accordion" id="first">
            <label for="first">Q. How do you do online bus reservation on TravelTroop?</label>
            <div class="content">
                <p>Ans: Booking a bus ticket online in India is easy with TravelTroop. Simply enter the Leaving from (Origin City) -- Going to (destination city) details along with the date you wish to travel in the bus search option on the site. Within seconds you will be given a list of available running buses for your route. Select the bus that best suits you, then just follow the bus ticket booking process by selecting your seat, providing passenger details and completing the payment process. Upon successful booking confirmation, you will receive an e-ticket over SMS/whatsapp and email.</p>
            </div>
        </li>
        <li>
            <input type="radio" name="accordion" id="second">
            <label for="second">Q. Do I need to create an account to book bus tickets on TravelTroop?</label>
            <div class="content">
                <p>Ans: No, you can book bus tickets as a guest user by providing required passenger details. However, we recommend you to create an account so that you get the latest information about bus availability, ticket details and other features which will help you book faster during future transactions.</p>
            </div>
        </li>
       
        <li>
            <input type="radio" name="accordion" id="fourth">
            <label for="fourth">Q. How to sign-up TravelTroop?</label>
            <div class="content">
                <p>Ans: You can sign-up using your mobile number. TravelTroop offers a one-step sign-up & login process with just an OTP received on your mobile.</p>
            </div>
        </li>
        <li>
            <input type="radio" name="accordion" id="fifth">
            <label for="fifth">Q. Can I book Government SRTC bus tickets on TravelTroop?</label>
            <div class="content">
                <p>Ans: No, you can't book SRTC (State Road Transport Corporation) bus tickets using our website .</p>
            </div>
        </li>
        
    </ul>
    
   
</section>
<img src="{% static 'image\assets\f1.jpeg' %}" alt="" width="100%">

</section>

<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>   
</body>
</html>