<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'image/assets/bg.jpg' %}">
    <title>BOOKINGS</title>
</head>
<body>     
   <form method="POST">
                    {% csrf_token %}
                <div class="input-field">
                    <input type="text" class="input" placeholder="firstname" name="uname" required>              
                    <i class="bx bx-user"></i>
                    <br>
                    <input type="text" class="input" placeholder="Lastname" name="lname">
                    <i class="bx bx-user"></i>
                </div>
                <br>
                <div class="input-field">
                    <input type="password" class="input" placeholder="password" name="upass">
                    <i class="bx bx-user icon"></i>
                </div>
                <br>
                <div class="input-field">
                    <input type="password" class="input" placeholder="confirm password" name="ucpass" required>
                    <i class="bx bx-lock-alt"></i>
                </div>
                <br>
                <div class="input-field">
                    <button type="submit" class="input" >Register</button>
                </div>
                {% if success %}
                <div class="alert alert-success">
                    {{success}}
                    
                </div>
                {% endif %}    
           </form>
                

       
                <div class="bottom">
                    <div class="left">
                        <input type="checkbox"  id="check">
                        <label for="check"> Remember Me</label>
                    </div>
                    <div class="right">
                        <label><a href="#">Forgot password?</a></label>
                    </div>
                </div>
            </div>
        </div>
   
       
   
</body>
</html>
