<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'image/assets/bg.jpg' %}">
    <title>BOOKINGS</title>
</head>
<body>
    
        
    <div class="wrapper">
        <nav class="nav">
            <div class="logonav">
                <img src="{% static 'image\assets\logoo.png' %}"  width="300px">
              </div>
    
            <div class="nav-menu" id="navMenu">
                <ul>
           
                    <li><a href="/2/" class="link">Login</a></li>
                    <li><a href="/register/" class="link">Register</a></li>

                </ul>
            </div>
           
        </nav>

        <div class="register-container" id="register">
            <div class="top">
                <span>Have an account? <a href="#" onclick="login()">Login</a></span>

        <div class="box">
            <div class="container">
                <div class="top-header">
                    <span>Have an account?</span>
                    <header>Sign Up</header>
                </div>
                {% if err %}
                <div class="alert alert-danger" >
                 {{err}}
                 </div>
                 {% endif %}
                <form method="POST">
                    {% csrf_token %}
                <div class="input-field">
                    <input type="text" class="input" placeholder="firstname" name="uname" required>
                    
                    <i class="bx bx-user"></i>
                    <br>
                    <input type="text" class="input" placeholder="Lastname" name="lname">
                    <i class="bx bx-user"></i>
                </div>
                <br>
                <div class="input-field">
                    <input type="password" class="input" placeholder="password" name="upass">
                    <i class="bx bx-user icon"></i>
                </div>
                <br>
                <div class="input-field">
                    <input type="password" class="input" placeholder="confirm password" name="ucpass" required>
                    <i class="bx bx-lock-alt"></i>
                </div>
                <br>
                <div class="input-field">
                    <button type="submit" class="input" >Register</button>
                </div>
                {% if success %}
                <div class="alert alert-success">
                    {{success}}    
                </div>
                {% endif %}    
           </form>
                

       
                <div class="bottom">
                    <div class="left">
                        <input type="checkbox"  id="check">
                        <label for="check"> Remember Me</label>
                    </div>
                    <div class="right">
                        <label><a href="#">Forgot password?</a></label>
                    </div>
                </div>
            </div>
        </div>
   
       
   
</body>
</html>
